---
import { Image } from 'astro:assets';
const { gallery, allImages } = Astro.props;

const findImagePath = (filename: string) => Object.keys(allImages).find(path => path.endsWith(filename));
---
<section id="galeri" class="py-20 overflow-hidden">
    <div class="container mx-auto px-6 text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-12" data-aos="fade-up">Galeri Momen Dusun Bedalo</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            {gallery.map((item: any, index: number) => {
                const imagePath = findImagePath(item.url);
                return (
                    <div class="overflow-hidden rounded-lg shadow-md" data-aos="zoom-in" data-aos-delay={100 + index * 100}>
                        {imagePath && <Image src={allImages[imagePath]()} alt={item.alt} class="w-full h-full object-cover transform hover:scale-110 transition-transform duration-300" width="600" height="400" />}
                    </div>
                );
            })}
        </div>
        <a href="/galeri" class="mt-12 inline-block bg-white text-gray-800 px-8 py-3 rounded-md font-semibold border border-gray-300 hover:bg-gray-100 transition duration-300" data-aos="fade-up">
            Lihat Galeri Lengkap
        </a>
    </div>
</section>