---
export interface Props {
  fotoItems: any[];
}
const { fotoItems } = Astro.props;
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  {fotoItems.map((item, index) => (
    <a 
      href={item.url} 
      class="glightbox overflow-hidden rounded-lg shadow-md cursor-pointer group"
      data-gallery="gallery-dusun"
      data-title={item.alt}
      data-aos="zoom-in" 
      data-aos-delay={(100 + (index % 4) * 100)}
    >
      <img 
        src={item.url} 
        alt={item.alt} 
        class="w-full h-full object-cover transform group-hover:scale-110 transition-transform duration-300" 
      />
    </a>
  ))}
</div>


<script>
  // 2. Impor GLightbox dan CSS-nya tetap di sini.
  // Astro sekarang akan mem-bundle keduanya dengan benar.
  import GLightbox from 'glightbox';
  import 'glightbox/dist/css/glightbox.min.css';

  const lightbox = GLightbox({
    selector: '.glightbox',
    touchNavigation: true,
    loop: true,
    zoomable: true,
  });
</script>